* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-main);
    color: var(--text-color-darkbg);
}

main {
    background-image: url(../assets/huis1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 40em;

    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-image:
            linear-gradient(180deg,
                var(--primary-detail-color)25%,
                /* var(--trgold) 20%, */
                transparent 85%);
    }

    h2 {
        z-index: 2;
        position: relative;
        margin:0 1em;
        font-weight: 400;
    }

}